/*---------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 20px;
  text-rendering: optimizeLegibility;
}


/*---------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------*/


.row {
  max-width: 1140px;
  margin: 0 auto;
}


/*========== HEADINGS ++++++++++++*/

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;

}


/*========== BUTTONS ++++++++++++*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}


.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}


.btn:hover,
.btn:active {
  background-color: #cf6d17;
  color: #fff;
  border: 1px solid #cf6d17:
}


.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
}


.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}



/*---------------------------------------------*/
/* HEADER */
/*---------------------------------------------*/


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.70)), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logo {
  margin-top 20px:
    height: 100px;
  width: auto;
  float: left;
}

.main-nav {
  float: right;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  text-decoration: none;
  margin-left: 40px;
}


.main-nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}