* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


body {
  font-family: Helvetica Neue, Arial;
  font-size: 18px;
}

.container {
  width: 1140px;
  margin: 20px auto 0 auto;
}


h1, h2 {
  color: rgba(41, 179, 41);
  font-size: 40px;
}


h1 {
  font-family: Helvetica Neue, Arial;
  margin-bottom: 20px;
}

h2 {
  font-family: Helvetica Neue, Arial;
  margin-bottom: 10px;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;

}

.author-text {
  font-size: 22px;
  float: left;
  margin: 35px 0 0 15px;
}

.blog-post{
  width: 75%;
  padding-right: 30px;
  float:left;
  position: relative;
}

.blog-post img {
  height: 150px;
  width: auto;
}

.other-posts {
  width: 25%;
  float: left;
}

.other {
  margin-bottom: 40px;
}

.author-box {
  border-top: 1px solid rgb(117, 117, 117);
  padding-top: 20px;
}

.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

.date {
  position: absolute;
  top: 10px;
  right: 30px;
  

}

